/* Stylesheet for cpu.html */

*
{
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    animation: websiteFadein 2s;
}

@keyframes websiteFadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar {

    width: 100%;
    top: 0;
    background-color: white!important;
    opacity: 90%;
    height: 10vh;
}

.navbar-brand img {
    margin-left: 3vw;
    width: 50px;
    /*width: 125px;*/
    height: auto;
}

/*@media (max-width: 768px) {
    .sticky-top {
        position: static!important;
    }
}*/

.nav-item {
    margin-right: 2vw;
}

.nav-link {
    color: black!important;
}

.nav-link:hover {
    color: #8c1515!important;
}

.navbar-nav {
    margin-right: 1vw;
}

.ml-auto {
    text-align: center;
    background-color:white;
    opacity: 1;
}

.back-arrow {
    text-decoration: none;
    color: black;
    font-size: 2vw!important;
}

.next-arrow {
    float: right;
}

.forward-arrow {
    text-decoration: none;
    color: black;
    font-size: 2vw!important;
}

.cpu-project {
    margin: 0 auto;
    width: 60vw;
}

.cpu-project-title {
    text-align: center;
    font-size: 1.8vw;
    margin-bottom: 3%;
}

.cpu-subheading {
    font-size: 1.8vw;
    margin-bottom: 2%;
    color: #ffafaf;
}

.cpu-subheading2 {
    font-size: 1.3vw;
    margin-bottom: 2%;
    color: #ffafaf;
}

.cpu-project-desc-wrapper {
    border-left: 0.5vw solid #ffafaf;
}

.cpu-project-desc {
    font-size: 0.9vw;
    margin-bottom: 2%;
    margin-left: 2%;
    line-height: 170%;
}

.caption {
    font-size: 0.9vw;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(175, 175, 175);
}

.cpu-video {
    width: 40vw;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cpu-img {
    width: 40vw;
    height: auto;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-btn {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 0.75vw 1vw;
    font-size: 1vw;
}

.projects-btn a {
    color: black;
    text-decoration: none;
}

.next-project {
    float: right;
}