/* Stylesheet for detritusAI.html */

.detritusAI-img-flex {
    display: flex;
    flex-direction: row;
}
.detritusAI-img-flex div {
    width: 30vw;
}

.flex-caption{
    display: block;
    margin-left: 0;
    margin-right: auto;
}
.detritusAI-img-flex1 {
    width: 30vw;
    height: auto;
    margin: auto;
}

.solace-blog {
    color: #8c1515;
}

.solace-blog:hover {
    text-decoration: none;
    color: #8c1515;
}

.team {
    margin-top: 1%;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .detritusAI-img-flex {
        display: flex;
        flex-direction: column;
    }

    .detritusAI-img-flex div {
        width: 80vw;
    }

    .detritusAI-img-flex1 {
        width: 80vw;
        height: auto;
        margin: auto;
    }
}