/* Stylesheet for fireguard.html */

.fireguard-img-flex1 {
    display: flex;
    flex-direction: row;
}

.fireguard-img-flex1 img {
    width: 29vw;
    height: auto;
}

.team {
    margin-top: 1%;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .fireguard-img-flex1 {
        display: flex;
        flex-direction: column;
    }
    
    .fireguard-img-flex1 img {
        width: 80vw;
        height: auto;
    }
}