/* Stylesheet for guardian.html */

.guardian-project-img-flex {
    display: flex;
    flex-direction: column;
}

.img-flex-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.generic-caption {
    margin-top: 1%;
    text-align: center;
}

.guardian-img-row {
    width: 20vw;
    height: auto;
}

.img-flex-column {
    display: flex;
    flex-direction: column;
}

.first-image-column {
    margin-bottom: 2%;
}

.guardian-img-column {
    width: 40vw;
    height: auto;
    align-self: center;
}

@media only screen and (max-width: 650px) {
    .guardian-project-img-flex {
        display: flex;
        flex-direction: column;
    }
    
    .img-flex-row {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    
    .generic-caption {
        margin-top: 1%;
        text-align: center;
    }
    
    .guardian-img-row {
        width: 40vw;
        height: auto;
    }
    
    .img-flex-column {
        display: flex;
        flex-direction: column;
    }
    
    .first-image-column {
        margin-bottom: 2%;
    }
    
    .guardian-img-column {
        width: 80vw;
        height: auto;
        align-self: center;
    }
}